body {
    background-color: brown;
}


.quizContainer {
    text-align: center;
    align-content: center;
    width: 100%;
    display: flex;
    position: fixed;
    margin: auto;
    background-color: cornflowerblue;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}




